.App {
  text-align: center;
  display:flex;
  background-color: #282c34;
  color: white;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.sidemenu {
  width:240px;
  padding: 10px;
  background-color: #202123;
}

.side-menu-button {
  padding:12px;
  border: 1px solid gray;
  border-radius: 5px;
  text-align: left;
  transition: ease .25s all;
}

.side-menu-button:hover {
  background-color: rgba(255,255,255,.1);
}

.side-menu-button span {
  padding-left:6px;
  padding-right:12px;
}

.chatbox {
  flex: 1;
  background-color: #343541;
  position:relative;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.chat-input-holder {
  padding:24px;
  position:absolute;
  bottom:0;
  left:0;right:0;
}

.chat-input-textarea {
  background-color: #40414f;
  width: 90%;
  border-radius: 5px; 
  border:none;
  outline: none;
  padding:12px;
  color:white;
  font-size:1.25em;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.25);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.chat-log {
  
  text-align: left;
}

.chat-message.llm {
  background-color: #444654;
}

.chat-message-center {
  display: flex;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  padding:12px;
  padding-left: 24px;
  padding-right: 24px;
}

.avatar {
  background: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  flex: 0 0 40px; /* This means it will neither grow nor shrink from the 40px size */
}

.avatar.llm {
  background: #0da37f;
  border-radius: 50%;
  width: 40px; /* Fixed width */
  height: 40px; /* Fixed height to maintain aspect ratio */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* This ensures content doesn't spill out of the circular boundary */
  flex: 0 0 40px; /* This means it will neither grow nor shrink from the 40px size */
}

.avatar.llm svg {
  flex-shrink: 0; /* Prevent svg from shrinking */
  width: 100%; /* Full width of the parent container */
  height: 100%; /* Full height to maintain aspect ratio */
}

.message {
  padding-left: 40px;
  padding-right: 40px;
  flex-grow: 1; /* allows the message container to grow as needed */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
