.registration-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    position: flex;
}
  
.registration-form {
    display: flex;
    flex-direction: column;
    align-items: center; /* This ensures that all form elements are centered horizontally */
    gap: 15px; /* This provides space between form elements */
    width: 300px; /* Adjust width as necessary */
}
  
.registration-input {
    width: 100%; /* Make inputs take the full width of the form */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    line-height: 1.5;    /* This should be at least the size of the font */
    height: auto;        /* Allows the input to size according to its content */
}
  
/* If you want to specifically control the input group */
.registration-input-group {
    width: 100%; /* Full width to align inputs */
    display: flex;
    flex-direction: column;
}
  
.registration-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}
  
.registration-button:hover {
    background-color: #0056b3;
}
  
.registration-error {
    color: red;
    margin-bottom: 15px;
}

.back-button {
    position: absolute; /* Position the button absolutely within the container */
    top: 20px; /* Adjust these values as needed */
    left: 20px;
    padding: 5px 10px;
    border: 1px solid #ddd; /* A simple border for the button */
    border-radius: 5px;
    background-color: transparent; /* A basic, non-distracting background */
    color: #007bff; /* Use your theme's primary color here */
    cursor: pointer;
    font-size: 16px; /* Adjust size as needed */
  }
  
  .back-button:hover {
    background-color: #f0f0f0; /* A light grey background on hover */
  }

  .login-prompt {
    margin-top: 15px; /* Adjust as needed */
    font-size: 0.9em; /* Adjust as needed */
  }
  
  .login-link {
    color: #007bff; /* Use a color that stands out for the hyperlink */
    text-decoration: none; /* Optional: if you want to remove the underline */
  }
  
  .login-link:hover {
    text-decoration: underline; /* Optional: add underline on hover */
  }