/* LandingPage.css */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212; /* Dark theme background */
    color: #fff; /* Text color for dark theme */
    font-family: 'Arial', sans-serif; /* Example font */
}

h1 {
    margin-bottom: 0.5em;
}

p {
    margin-bottom: 2em;
    color: #9e9e9e;
}

.button-container {
    display: flex;
    justify-content: center;
}

.btn {
    padding: 12px 24px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.btn:hover {
    background-color: #0056b3;
}

.btn-alt {
    background-color: #232323; /* Alternative button style */
}

.btn-alt:hover {
    background-color: #1a1a1a;
}

/* Responsiveness */
@media (max-width: 768px) {
    .button-container {
        flex-direction: column;
    }

    .btn {
        width: 80%;
        margin: 10px 0;
    }
}